<ul id="menu">
    <li>@Html.ActionLink("Cadastrar", "Cadastrar", "GuiaUnicaTransporte")</li>
    <li>@Html.ActionLink("Consultar", "Consultar", "GuiaUnicaTransporte")</li>
    <li>@Html.ActionLink("Painel", "Painel", "")</li>
    <li>@Html.ActionLink("Empresas", "Empresas", "")</li>
    <li>@Html.ActionLink("Notas Fiscais", "NotasFiscais", "")</li>
    <li>@Html.ActionLink("Relatórios", "Relatorios", "")</li>
    <li>@Html.ActionLink("Usuários", "Usuarios", "")</li>
    <li>@Html.ActionLink("Log", "ConsultarLog", "")</li>
</ul>